<div class="settingsmenu" >
  <a class="geotarget text cursorpointer" ><span>Geography | </span></a> 
  <a class="feedtargeting text cursorpointer" ><span>Company size | </span></a> 
  <a class="customactionlink text cursorpointer" ><span>Job Functions |</span></a> 
  <a class="photoOptionsLink text cursorpointer" ><span>Industries</span></a>
</div>

